.movies-card {
  display: flex;
  flex-direction: column;

  border-radius: 6px;

  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__content {
  flex: 1 1 auto;

  margin: 0;
}

.movies-card__figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px;
}

@media screen and (max-width: 450px) {
  .movies-card__figcaption {
    padding: 14px;
  }
}

.movies-card__title {
  max-width: 70%;
  margin: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.20;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 631px) and (max-width: 700px) {
  .movies-card__title {
    max-width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 1.5;
  }
}

.movies-card__duration {
  max-width: 30%;

  margin: 0;

  font-size: 13px;
  line-height: 1.38;
  color: #A0A0A0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 450px) {
  .movies-card__duration {
    font-size: 10px;
    line-height: 1.80;
  }
}

.movies-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 450px) {
  .movies-card__image {
    height: 168px;
  }
}

.movies-card__button-wrapper {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

@media screen and (max-width: 450px) {
  .movies-card__button-wrapper {
    padding: 14px 0;
  }
}

.movies-card-list__button-container {
  display: flex;
  justify-content: center;

  margin: 10px 0 0 0;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .movies-card-list__button-container {
    margin: 30px 0 0 0;
  }
}

.movies-card__button {
  background: #F9F9F9;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 12px;
  text-align: center;
  color: inherit;
}

.movies-card__button_type_default {
  width: 100px;
  height: 29px;

  border-radius: 30px;
  line-height: 0.92;
  transition: background-color .2s ease;
}

.movies-card__button_type_chosen {
  width: 100px;
  height: 29px;

  border-radius: 30px;

  background: #F9F9F9 url(../../images/delete-movie-icon.svg) no-repeat center;
  transition: background-color .2s ease;
}

.movies-card__button_saved {
  background: #FF4062 url(../../images/save-movie-icon.svg) no-repeat center;
  transition: background-color .2s ease;
}

.movies-card__button_load-more-cards {
  flex-grow: 1;

  padding: 9px 0;

  border-radius: 6px;

  font-weight: 500;
  line-height: 15px;
}
