.header__profile-bar {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__profile-bar {

  }
}

@media screen and (max-width: 320px) {
  .header__profile-bar {
  }
}

.header__profile {
  margin-right: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 768px) {
  .header__profile {
    display: none;
  }
}


