.landing__promo {
  display: flex;
  flex-direction: column;
  background: #F3C1F8 url(../../images/pic_promo_background.svg) no-repeat center;
}

@media screen and (max-width: 768px) {
  .landing__promo {

  }
}

@media screen and (max-width: 320px) {
  .landing__promo {

  }
}
