.landing__promo-wrapper {
  background: #F3C1F8 url(../../images/pic_promo_background.svg) no-repeat 50% 56%;;
  height: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing__promo-wrapper_padding_top {
  padding-top: 74px;
}

.landing__heading {
  margin: 184px 0 0 0;
  width: 730px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}
