.page {
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .page_freezed {
    overflow: hidden;
  }
}

.page__link {
  color: #000000;
  text-decoration: none;
}
