.landing {
  flex: 1 1 auto;
  min-width: 320px;
  display: grid;
  grid-row: 6;
}

@media screen and (max-width: 768px) {
  .landing {

  }
}

@media screen and (max-width: 320px) {
  .landing {

  }
}
