.section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing {
  /* flex: 1 1 auto; */
  display: grid;
}

.landing__text {
  font-size: 14px;
  line-height: 20px;
}

.landing__about-project {
  height: 608px;
  padding: 110px 70px;
}

.landing__about-project-card-wrapper {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.landing__about-project-card {
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
}

.landing__about-project-card:last-of-type {
  margin: 0;
}

.landing__about-project-card-heading {
  margin: 0 0 26px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.landing__about-project-card-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.landing__about-project-timeline-wrapper {
  margin: 110px 0 0 0;
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 6px;
}

.landing__about-project-timeline {
  margin: 0;
  padding: 9px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.landing__about-project-timeline_1 {
  background: #000000;
  color: #FFFFFF;
}
.landing__about-project-timeline_2 {
  background: #F2F2F2;
}
.landing__about-project-timeline_3 {
  color: #A0A0A0;
}
.landing__about-project-timeline_4 {
  color: #A0A0A0;
}


/* блок технологии */
.landing__techs {
  padding: 100px 70px;
  background: #F5F5F5;
  justify-content: space-between;
}

.landing__techs-text {
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__techs-subtitle {
  margin: 26px 0 0 0;
  width: 460px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: -0.04em;
}

.landing__techs-items-block {
  margin: 100px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-columns: 90px;
  grid-auto-rows: 60px;
  gap: 0 10px;
  justify-content: center;

  list-style: none;
}

.landing__techs-item {
  padding: 22px 0;
  box-sizing: border-box;

  background: #E8E8E8;
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;

}
.landing__techs-item:last-of-type {
  margin: 0;
}


/* секция about me */

.landing__about-me {
  padding: 110px 70px 125px;
}

.landing__about-me-content-wrapper {
  margin: 66px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 101px;
}

.landing__about-me-bio {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 270px;
}


.landing__about-me-bio-right {
  margin: 0;
  width: 270px;
  border-radius: 10px;
  overflow: hidden;
}
.landing__about-me-bio-right-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
