.button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: background, color, border, opacity .2s ease;
}

.button:hover {
  opacity: .8;
  transition: opacity .2s ease, background-color .2s ease;
}

.button_type_enter {
  padding: 8px 20px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

@media screen and (max-width: 320px) {
  .button_type_enter {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 1.6;
  }
}

.button_type_back {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .button_type_back {
    font-size: 12px;
    line-height: 15px;
  }
}


.button_type_auth {
  padding: 15px 0 15px 0;
  background: #000000;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.button_type_auth:disabled {
  border: 1px solid #000000;
  background: #F9F9F9;
  color: #000000;
}

@media screen and (max-width: 450px) {
  .button_type_auth {
    font-size: 12px;
    line-height: 15px;
  }
}

.button_type_profile {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .button_type_profile {
    font-size: 12px;
    line-height: 15px;
  }
}

.button_type_profile:disabled {
  opacity: .9;
}

.button_type_logout {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF4062;
}

@media screen and (max-width: 425px) {
  .button_type_logout {
    font-size: 12px;
    line-height: 15px;
  }
}

.button_type_default-movie-card {
  width: 100px;
  height: 29px;

  background: #F9F9F9;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 12px;
  text-align: center;
  color: inherit;
  border-radius: 30px;
  line-height: 0.92;
}

.button_type_default-movie-card:disabled {
  background: #F9F9F9;
  border: 1px solid #000000;
  opacity: .3;
  filter: invert(1);
}

.button_type_added-to-fav-movie-card {
  width: 100px;
  height: 29px;

  border-radius: 30px;

  background: #FF4062 url(../../../images/save-movie-icon.svg) no-repeat center;
}

.button_type_added-to-fav-movie-card:disabled {
  background: transparent url(../../../images/save-movie-icon.svg) no-repeat center;
  border: 1px solid #F9F9F9;
  opacity: .3;
  filter: invert(1);
}

.button_type_delete-from-fav-movie-card {
  width: 100px;
  height: 29px;

  background: #F9F9F9;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 12px;
  text-align: center;
  color: inherit;

  border-radius: 30px;

  background: #F9F9F9 url(../../../images/delete-movie-icon.svg) no-repeat center;
  transition: background-color .2s ease;
}

.button_type_delete-from-fav-movie-card:disabled {
  background: #F9F9F9 url(../../../images/delete-movie-icon.svg) no-repeat center;
  border: 1px solid #000000;
  opacity: .3;
  filter: invert(1);
}

.button_type_load-more-cards {
  flex-grow: 1;

  padding: 9px 0;

  border-radius: 6px;

  background: #F9F9F9;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: inherit;
}

.button_type_load-more-cards:disabled {
  background: #F9F9F9;
  border: 1px solid #000000;
  opacity: .3;
  filter: invert(1);
}
