.fieldset {
  padding: 0;
  margin: 0 0 50px 0;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .fieldset {
    margin: 0 0 134px 0;
  }
}

.fieldset__input-section {
  margin: 0 0 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fieldset__input-section:last-of-type {
  margin: 0;
}

.fieldset__input-label {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.fieldset__input {
  padding: 15px;
  background: #F9F9F9;
  outline-color: #000000;
  border: 0;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  transition: outline-color .2s ease;
}

.fieldset__input:invalid {
  outline-color: #FF4062;
}

.fieldset__input-error {
  display: block;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  transition: opacity, .2s ease;
}

.fieldset__input-error_active {
  opacity: 1;
}
