.header {
  height: 74px;
  padding: 0 70px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
padding: 0 14px;
  }
}
