.timeline {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  list-style: none;
}

@media screen and (max-width: 600px) {
  .timeline {
    grid-template-columns: 35% 65%;
  }
}

.timeline__cell {
  margin: 0 0 6px 0;
  padding: 9px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}

.timeline__cell:last-of-type {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .timeline__cell {
    font-size: 11px;
    line-height: 1.18;
  }
}

/* первая ячейка в нечетной колонке  */
.timeline__col:nth-of-type(2n+1) .timeline__cell:first-of-type {
  background: #000000;
  color: #FFFFFF;
}

/* вторая ячейка в нечетной колонке  */
.timeline__col:nth-of-type(2n+1) .timeline__cell:last-of-type {
  color: #A0A0A0;
}

/* первая ячейка в четной колонке  */
.timeline__col:nth-of-type(2n) .timeline__cell:first-of-type {
  background: #F2F2F2;
}

/* вторая ячейка в четной колонке  */
.timeline__col:nth-of-type(2n) .timeline__cell:last-of-type {
  color: #A0A0A0;
}
