.page-with-form {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .page-with-form__container {
    width: 396px;
    display: flex;
    flex-direction: column;
    background: transparent;
}

@media screen and (max-width: 450px) {
  .page-with-form__container {
    width: 260px;
  }
}

.page-with-form__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px 0 40px 0;
}

@media screen and (max-width: 768px) {
  .page-with-form__header {
    padding: 232px 0 40px 0;
  }
}

@media screen and (max-width: 450px) {
  .page-with-form__header {
    align-items: center;
    padding: 56px 0 80px 0;
  }
}

.page-with-form__heading {
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 450px) {
  .page-with-form__heading {
    margin: 50px 0 0 0;
  }
}

.form {
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: inherit;
}

@media screen and (max-width: 768px) {
  .form {
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 450px) {
  .form {
    padding-bottom: 30px;
  }
}

.form__button-section {
  display: flex;
  flex-direction: column;
}

.form__redirection {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 450px) {
  .form__redirection {
    margin: 14px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}

.form__link {
    margin-left: 6px;
    color: #000000;
    cursor: pointer;
}
