.page-with-form {
    display: flex;
    justify-content: center;
  }

  .page-with-form__container {
  display: flex;
  background: transparent;
}

@media screen and (max-width: 492px) {
  .page-with-form__container {
    /* max-width: 88.125%; */
  }
}

/* стили горизонтальной ориентации */
/* @media screen and (max-width: 823px) and (max-height: 414px) {
  .page-with-form__container {
    max-width: 70vw;
    max-height: 60vw;
  }
} */

.form {
  width: 396px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: inherit;
}


.form__profile-information {
  padding: 0;
  margin: 0 0 50px 0;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* @media screen and (max-width: 424px) {
  .form__profile-information {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
  .form__profile-information {
    margin-bottom: 0;
  }
} */

.form__input-section {
  margin: 0 0 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input-section:last-of-type {
  margin: 0;
}

/* @media screen and (max-width: 500px) {
  .form__input-section {
    margin: 0 7.80141844% 30px;
    width: 84.3971631%;
  }
} */

.form__input-label {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form__input {
  padding: 15px;
  background: #F9F9F9;
  outline-color: #000000;
  border: 0;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.form__redirection {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 823px) and (max-height: 414px) {
  .form__redirection {
    margin-bottom: 10px;
  }
}


.form__link {
    margin-left: 6px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.form__link:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease;
}



.form__input-error {
  /* max-height: 15px; */
  display: block;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  transition: opacity, .2s;
}

.form__input-error_active {
  opacity: 1;
}

.form__input_error {
  border-bottom: 1px solid #FF4062;
  transition: color .2s linear;
}

.form__input_error:focus {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,0,0,0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255,0,0,0.2);
  transition: color .2s linear;
}

.form__input_error:invalid {
  color: #FF4062;
}


.form__heading {
  margin: 34px 36px 54px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  color: inherit;
}

@media screen and (max-width: 500px) {
  .form__heading {
    margin: 25px 7.80141844% 54px;
  }
}

@media screen and (max-width: 424px) {
  .form__heading {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.22;
  }
}

/* стили горизонтальной ориентации */
@media screen and (max-width: 823px) and (max-height: 414px) {
  .form__heading {
    margin: 15px 36px 30px;
    font-size: 24px;
    line-height: 1.2;
  }
}
.form__heading_style{
  text-align: center;
}
