.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__heading {
  margin: 246px 0 5px 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .error__heading {
    margin-top: 408px;
  }
}
@media screen and (max-width: 320px) {
  .error__heading {
    margin: 329px 0 10px 0;
    font-size: 80px;
    line-height: 97px;
  }
}

.error__subtitle {
  margin: 0 0 184px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .error__subtitle {
    margin: 0 0 284px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
