.section__heading {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}
