.landing__nav {
  height: 66px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background: #000000;
}

.landing__link-wrapper {
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;


}

.landing__link-wrapper:last-of-type {
  margin-right: 0;
}

.landing__link {
  color: #FFFFFF;
  text-decoration-line: underline;
}
